.form-wrapper {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  background-image: url('./background3.jpeg');
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

.form-box {
  opacity: 0.9;
  width: 380px;
  height: 430px;
  margin-bottom: 10vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}

.form-shadow:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.sign-button {
  width: 100%;
}
